.bg-color{
    background-color: #94042C;
}
.application-heading{
    color: white;
    font-size: 24.0pt;
    font-weight: 700;
    text-align: right;
    margin-top: 30px;
}

.m-left-20{
    margin-left: 20px;
}

.input-width{
    width: 400px;
    margin-right: 20px;
}

.collection-input-width{
    width: 300px;
    margin-right: 20px;
}
